*{
  box-sizing: border-box;
  margin: 0;
}
.bg{
  width: 1024px;
  height: 600px;
  background-image: url("../images/background.png");
  padding: 20px;
}
.outbox{
  width: 808px;
  height: 544px;
  background-image: url("../images/outerbox.png");
}
.wrapper{
  padding: 32px;
  display: flex;
  flex-direction: row;
}
/* left area */
.content_left{
  width: 208px;
  height: 472px;
  display: flex;
  flex-direction: column;
}
.left_header{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.today{
  font-size: 9px;
  font-weight: 700;
  color: #22afef;
  padding-top: 10px;
}
.left_body{
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 30px 30px;
}
.user{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user_picture{
  width: 148px;
  height: 133px;
  /* background-color: #cccccc; */
  background-image: url("../images/profile.png");
  background-size: 100% 100%;
}
.line{
  border-top: 1px dotted black;
  margin: 12px 0;
}
.profile{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.icon{
  color: gray;
  font-size: 11px;
  line-height: 2;
}
#select{
  color: black;
  font-size: 9px;
}
.feel{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.feel_title{
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
}
/* right area */
.content_right{
  width: 524px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
}
.right_header{
  width: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px 20px;
}
.header_title {
  color: #22afef;
  font-size: 16px;
  font-weight: 700;
}
.header_sub{
  color: #22afef;
  font-size: 9px;
}
.right_body{
  width: 510px;
  height: 445px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
}
iframe{
  width: 100%;
  height: 100%;
  border: 0;
}
.nav{
  width: 62px;
  height: 100px;
  position: absolute;
  left: 774px;
  top: 110px;
}
.nav_item{
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: #58beee;
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  font-size: 10px;
  cursor: pointer;
}
.nav_item:hover{
  background-color: white;
  color: #22afef;
}